html{

	font-size: 12px;
	font-family: "Open Sans" !important;
	background: #0d1d37;

}

hr{

	border-bottom: 2px solid #576D94;

}

@font-face {
	font-family: "Open Sans";
	src: url("/css/font/OpenSans-Light.ttf") format("truetype");
}

.container{

	padding-right: 0px;
	padding-left: 0px;

}

.form-control{

	color: #576D94 !important;
	background-color:#21314B !important;
	border-radius: 1rem 0rem 0rem 1rem !important;

}

.input-group-addon{

	background-color: #21314B !important;
	border-radius: 0rem 1rem 1rem 0rem !important;

}

.main-content {
	position: relative;
}

.owl-nav {
	position: absolute;
	top: 20%;
	left: 0;
	right: 0;
}

@media (min-width: 768px){


	.pages-img-container{

		padding:40px;


	}

}

@media (max-width: 767px){


	.pages-img-container{

		padding:20px;


	}

}

@media (max-width: 767px){


	.pages-img-container{

		padding:20px;


	}

	.col-pagination{

		margin-left: 27.5%;

	}

}

@media (max-width: 575px){


	.pages-img-container{

		padding-left: 3.5em;
		padding-right: 5em;
		padding-bottom: 20px;
		padding-top: 20px;

	}

	.col-no-padding{

		padding: 0px !important;
		max-width:50% !important;

	}

	.col-pagination{

		margin-left: 14%;

	}


}

@media (max-width: 991px){


	.owl-prev, .owl-next {
		display: none;

	}

	.owl-carousel .owl-item img {

		display: block;
		width: 100px;
		height: 150px;
		border-radius: 0.5rem;
		cursor: grab;

	}

	.pages-img-container > .LazyLoad > .pages-img{

		display: block;
		width: 100px;
		height: 150px;
		border-radius: 0.5rem;

	}



}




@media (min-width: 992px){

	.owl-prev, .owl-next {
		position: absolute;
		color: inherit;
		border: none;
		z-index: 100;
		background:#1F304E;
		height: 50px;
		width: 50px;
		text-align: center;
		border-radius: 2em;

	}

	.owl-prev {
		left: -0.8em;
	}

	.owl-prev > img {

		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);

	}


	.owl-next > img {

		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);

	}

	.owl-next {
		right: -1.5em;
	}

	.owl-item{

		padding: 50px;

	}

	.owl-carousel .owl-item img {

		display: block;
		width: 150px;
		height: 200px;
		border-radius: 0.5rem;
		cursor:grab;
	}

	.pages-img-container > .LazyLoad > .pages-img{

		display: block;
		width: 150px;
		height: 200px;
		border-radius: 0.5rem;

	}

	.col-pagination{


		margin-left: 38.5%;

	}

}

@media (min-width: 1024px){

	.owl-next {
		right: 2em !important;
	}

}



#main{

	margin: -8px;

}



.col-no-padding{

	padding: 0px !important;

}


.pages-col{

	flex: 0 0 20%;
    max-width: 20%;


}

.page-link{

		color:#fff !important;
		background-color:#334157 !important;
		border: 1px solid #334157 !important;
		cursor: pointer !important;

}

.page-link:hover{

		background-color: #0D1D37 !important;

}

.page-link > .current {

		color: #ff9000 !important;

}


.select-css {
	display: inline;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: #fff;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	/* width: 100%; */
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #0D1D37;
	box-shadow: 0 1px 0 1px #0D1D37;
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('/svg/dropdownarrow.svg'), linear-gradient(to bottom, #0D1D37 0%,#0D1D37 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
	margin-left: 10px;
}
.select-css::-ms-expand {
    display: none;
}

.select-css option {
    font-weight:normal;
}
